<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729229196646-4fhd59lnhd9kanlc4b2k0pvh1fj92t96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729229196646-4fhd59lnhd9kanlc4b2k0pvh1fj92t96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729229196646-30uc8pskqmt8r9chbnqecfd4dlomqfmh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBc7cQLWSeoY8KmJKjP4ekpW3mdbnijrlk</string>
	<key>GCM_SENDER_ID</key>
	<string>729229196646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.foam.ops</string>
	<key>PROJECT_ID</key>
	<string>foam-laundry-app</string>
	<key>STORAGE_BUCKET</key>
	<string>foam-laundry-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729229196646:ios:3057abe47d8ff4312c1ca7</string>
</dict>
</plist>
